<table class="w-[600px] bg-[#FFFFFF]">
  <tr>
    <td
      class="px-[20px] py-[30px] font-arial text-[#000000;] text-[12px] leading-[140%]"
    >
      <p class="font-bold text-[12px] py-[5px] mb-[15px]">Ut enim ad minim:</p>
      <p class="mb-[10px] py-[5px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="mb-[10px]">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>

      <p class="font-bold text-[12px] py-[10px] mb-[15px]">
        Sint occaecat cupidatat:
      </p>
      <ol class="list-decimal pl-[18px] mb-[15px]">
        <li class="mb-[15px]">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum.
        </li>
        <li>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat.
        </li>
      </ol>

      <hr class="border-t border-[#002B2B] my-[20px]" />

      <p class="text-center mb-[15px]">
        Sed do eiusmod tempor incididunt ut labore
      </p>
      <div class="text-center py-[5px]">
        <x-image
          class="w-[80px] h-[40px] mx-auto"
          imgUrl="Footer Logo.png"
          alt="Footer Logo"
        />
      </div>
    </td>
  </tr>
</table>
