<table class="w-[600px] bg-[#F0F5F5;]">
  <tr>
    <td class="px-[20px] py-[40px]">
      <p class="text-[24px] font-bold text-[#005555;] text-center mb-[20px]">
        Sint cupidatat occaecat ut
      </p>

      <table class="w-full">
        <tr class="sm:block">
          <td
            class="w-1/2 px-[20px] py-[20px] align-top sm:block sm:w-full sm:mb-[20px]"
          >
            <table class="w-full bg-[#FFFFFF]">
              <tr>
                <td class="text-center py-[25px]">
                  <x-image
                    class="w-[80px] h-[80px] rounded-full mx-auto mb-[15px]"
                    imgUrl="Icon.png"
                    alt="Profile 1"
                  />
                  <p class="font-bold text-[#005555;] text-[16px] mb-[10px]">
                    Nisi ut ade
                  </p>
                  <p
                    class="font-arial text-[16px] px-[20px] py-[10px] text-center leading-[140%] text-[#444444;]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.¹
                  </p>
                </td>
              </tr>
            </table>
          </td>

          <td class="w-1/2 px-[20px] py-[20px] align-top sm:block sm:w-full">
            <table class="w-full bg-[#FFFFFF]">
              <tr>
                <td class="text-center py-[25px]">
                  <x-image
                    class="w-[80px] h-[80px] rounded-full mx-auto mb-[15px]"
                    imgUrl="Icon.png"
                    alt="Profile 2"
                  />
                  <p class="font-bold text-[#005555;] text-[16px] mb-[10px]">
                    Duis aute irure
                  </p>
                  <p
                    class="font-arial text-[16px] px-[20px] py-[10px] text-center leading-[140%] text-[#444444;]"
                  >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.²
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
