<table class="w-full">
  <tr>
    <td class="pb-[6px] px-[20px] pt-[24px]">
      <x-image class="w-[560px]" imgUrl="Hero-Image.png" href="#" />
    </td>
  </tr>
  <tr>
    <td
      class="text-lg text-[24px] font-bold align-center-table px-base pt-[24px] text-[#005555;]"
    >
      Excepteur sint occaecat cupidatat
    </td>
  </tr>
  <tr>
    <td
      class="font-arial text-[16px] leading-[140%] text-center px-base pt-[24px] px-[30px]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </td>
  </tr>
  <tr>
    <td class="w-[350px] align-top px-[10px] py-[20px] align-center-table">
      <table class="mt-[10px] align-center-table">
        <tr>
          <td class="bg-[#008080;] px-[20px] py-[10px] rounded-[4px]">
            <a href="#" class="text-white text-[14px]">
              Ut enim ad minim veniam
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
