<table class="w-[600px]">
  <tr>
    
    <td class="w-[110px] align-top pt-[20px] px-[20px]  sm:text-center">
      <x-image
        class="w-[110px]"
        imgUrl="Header-Logo.png"
        href="#"
      />
    </td>

    
    <td class="w-[330px] align-top pt-[30px] px-[5px] sm:text-left">
      
      <p class="font-arial text-[12px] leading-[100%] text-[#002B2B] ">
       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      
    </td>
  </tr>
</table>
